.card-deck .card {
  min-width: 500x; }

body {
  padding-top: 2rem;
  width: 638px;
  margin: 0 auto; }

.full-img {
  position: relative;
  display: block;
  width: 700px;
  height: 700px; }

.displayed-img {
  position: relative;
  display: block;
  width: 700px;
  height: 700px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px; }

button {
  border: 0;
  background: rgba(200, 200, 200, 0.6);
  text-shadow: .5px .5px .5px black;
  border: 5px solid white;
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 15px; }

.thumb-bar img {
  display: block;
  width: 19%;
  float: left;
  cursor: pointer;
  height: 200px;}
